$primary: #26315e;
$warn: #b53127;
$light-colour: white;
$dark-colour: #1b355e;
$background: #f0f5fb;
$border-radius: 10px;
$border-colour: #e9e9e9;
$ag-grid-box-shadow-bg: #2c2d5e05;
$ag-grid-root-bg: #fefefe;
$ag-grid-row-bg: white;
$ag-grid-row-bg-hover: #f0f5fb;
$ag-grid-header-bg: #fafafb;
