<div mat-dialog-title>
    <mat-toolbar color="primary" class="dialog-toolbar">
        <h1>Edit contract</h1>
        <button mat-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</div>

<mat-dialog-content>
    <p>Here is a form to edit a contract.</p>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button color="basic" type="button" mat-dialog-close>Close</button>
    <button mat-flat-button color="primary" class="primary-button" type="button" (click)="update()">Update</button>
</mat-dialog-actions>
