<form [formGroup]="form" class="filter-form">
    <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
            <mat-option [value]="null">All</mat-option>
            <mat-option *ngFor="let status of statuses$ | async" [value]="status.name">{{ status.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="filter-buttons">
        <button mat-raised-button color="accent" class="apply-button" (click)="applyFilters()">Apply</button>
    </div>
</form>
