@import 'variables';

.filter-container {
  width: 100%;
  padding: 16px;
}

.filter-form {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-field {
  flex: 1 1 200px;
  min-width: 150px;
}

::ng-deep .mat-form-field-outline {
    background: white !important;
    border-radius: 5px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

.filter-buttons {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    width: 100%;
}

.apply-button {
    background: $primary;
    color: white;
    margin-right: 5px;
}
