:host {
    display: flex;
    align-items: center;
}

.contract-type-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    min-width: 90px;
    height: 30px;
}
