@import 'variables';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    color: $dark-colour;
    background: $background;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
